Attribute escaping too aggressive

As of `v1.0.3` non-token attributes are escaped a bit too aggressively (see https://github.com/jhermsmeier/node-http-link-header/commit/6bad07ca27092118d97e9cda77ba2143c4daa45e#commitcomment-43076368)

As per [RFC 7230, Section 3.2.6](https://tools.ietf.org/html/rfc7230#section-3.2.6):

> A sender SHOULD NOT generate a quoted-pair in a quoted-string except
   where necessary to quote DQUOTE and backslash octets occurring within
   that string.